
/*Section Size*/
#intro-section1{
	height:;
}
#checkin-section2{
	height:;
	border-bottom: 1px solid rgba(1,0,0,.1);
}
#explore-section3{
	padding-bottom: 50px;
}
#review-section4{
	height:;	
}
#gallery-section5{
	height:;
}
#footer-section6{
	height:;

}

/*Section Style*/
#intro-section1{
	background-image:url('../gallery/1.jpg');
	background-size:cover;
}
#checkin-section2{
	background-color: rgba(255, 255, 255,.1);
}
#explore-section3{
	background-color: rgba(255, 255, 255,1);
}
#review-section4{
	background-color: rgba(242, 242, 242,1);
}


#gallery-section5{
	background-color: ;
	background-image:url(../gallery/2.jpg);
	background-size: cover;
	position:relative;
}
	.gallerysection{
		background-color: rgba(66, 62, 63,.8);
		
	}
	.gallerysection h3{
		color:rgba(255,255,255,.9);
		font-weight: lighter;
		font-size: 25px;
	}
	.gallerysection h4{
		color:rgba(255,255,255,.9);
	}
	.btn-gallery{
		font-weight: bolder;
		font-size:;
		padding:10px 20px 10px 20px;
		margin:0 0 90px 0;
	}

/*	HASHTAG*/
	.hashtag{
		color:rgba(253, 201, 92,1);
		font-size: 24px;
		line-height:;
		position: relative;
		margin:10px 0 0 0;
	}
	.glyphicon-camera{
		font-size: 30px;
		padding:0px 0 0 0;
	}
	.logokiri {
		color:rgba(255,255,255,.9);
		font-weight: lighter;
		font-size: 25px;
		padding:10px 0 0 20px;
	}
	.socmed{

	}
		.socmed a{
			text-decoration: none;
			color:rgba(255,255,255,.9);;
		}



/*footer section style*/

#footer-section6{
	background-color: #DCDCDC;
	position:relative;
}
.footoverride{
	width:100%;
	top:-50px;
	background-color: rgba(255,255,255,1);
	padding:20px 0 0 0;
	margin:0 0 0 0;
}
.footertext h3{
		padding:0 0 0 100px;
}
.footertext ul{
	padding:0 0 0 120px;
	margin:0 0 0 0;

}
.footertext ul li{
	list-style: none;
	line-height: 30px;
	font-size: 17px;
	color:rgba(39, 40, 34,.8);
	text-align: left;
}
.container .jumbotron{
	position:relative;
	border-radius: 0px;
}
.newsletter{
	line-height: 30px;
	font-size: 17px;
	color:rgba(39, 40, 34,.8);
}
.form-group{
	padding:10px 0 0 0;
}
.form-control,
.btn-info{
	border-radius:0; 
}

.form-control{
	width:80%;
	height: 44px;
	box-shadow: none;
	float:left;
	border:none;
	background-color: rgb(243, 241, 242);

}
.form-control::after,
.form-control:hover{
	box-shadow: none;
}
.btn-info{
	position:relative;
	float:left;
	background-color: rgb(225, 221, 220);
	border:none;
	height: 44px;
	width: 50px;
}
.btn-info:hover{
	background-color: rgba(253, 201, 91,1);
}


.copyright{
	padding:0 0 50px 0px;
}
.footerlogo img{
	position: relative;
	height:20%;
	width:20%;

}
/*foooter style closed*/

/*
header style opene*/


/*navbar style*/
.navbar-left{
	padding:22px 0 0 0;
	margin:0 0 0 0;
}
.navbar-brand img{
	width:190px;
	height:50px;
	margin:5px 50px 0 0;
}

.navbar-inverse{
	background:transparent;
	border:none;
	color:rgba(255,255,255,1);
}
ul.nav.navbar-nav li a{
	font-weight: ;
	color:rgba(1, 0, 0,1);
	font-size: 14.5px;
	background-color: transparent;
}

ul.nav.navbar-nav li a:focus,
ul.nav.navbar-nav li a:hover{
	color:rgba(1, 0, 0,1);

}
/*.navbar-inverse .navbar-right>.active>a:focus,
.navbar-inverse .navbar-right>.active>a:hover{
	background-color: transparent;	
	color:rgba(253, 201, 90,1);
}*/
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a
{
	background-color: transparent;
	padding:10px 15px 10px 15px;
	margin:5px 0 0 0;
	color:rgba(253, 201, 90,1);
	font-weight: bolder;
}

/*blok atau book now*/

ul.nav.navbar-nav li.blok a:hover,
ul.nav.navbar-nav li.blok a{
		background-color: transparent;
		border:1px solid rgba(1,0,0,.4);
	font-weight:bolder ;
	color:rgba(39, 40, 34,1);
}
.navbar-inverse .navbar-nav>.blok>a
{
	background-color: rgba(255, 255, 255,1);
	padding:10px 15px 10px 15px;
	margin:5px 0 0 0;
}
.navbar-inverse .navbar-nav>.blok>a:focus,
.navbar-inverse .navbar-nav>.blok>a:hover
{
	background-color: rgba(255, 255, 255,.95);
	padding:10px 15px 10px 15px;
	margin:5px 0 0 0;
}


/*blok atau book now closed*/



/*navbar style closed*/



/*header style closed*/

/*sekilas dan checkin*/
.sekilas{
	padding:20px 150px 20px 100px;
	float:left;
}
.whykoma{
	float:left;
}
	.titlesec{
		padding:0;
		margin:20px 0 0 0;
	}
	.titlesec,
	.sekilas h2{
		color:rgba(64, 64, 64,1);
	}
	.sekilas span{

	}
.checkintab{
	background-color:#C0C0C0;
	height:;
	width:;
	position: relative;
	float:left;
	padding:40px 0 20px 100px;
	
}
.alltab{
	width:130px;
	position: relative;
	float:left;
	margin:0 20px 0 0;
}
.titletabtgl{
	text-align: center;
	font-size:16px ;
	color:#000;
	font-weight: bolder;
	padding:0 0 15px 0;
}
.tabtgl1{
	height:;
	width:100%;
	background:rgba(255, 255, 255,1);	
	position: relative;
	float:left;
}

.month{
	position:;
	color:#000;
	font-weight: bolder;
	padding:5px 0 5px 0px;
	font-size: 18px;
	border-bottom:1px solid rgba(39, 40, 34,.2);

}
	.angka{
		color:#000;
		font-size: 50px;

		padding:15px 0 15px 0;

	}
	.angkaguest{
		color:#000;
		font-size: 50px;
		padding:20px 0 20px 0;

	}
	.addreslist{
		padding:0 0 0 0;
		float:left;
	}
	.addreslist li{
		list-style: none;
	}

	.glyphicon-chevron-up,
	.glyphicon-chevron-down{
		color:rgba(39, 40, 34,.4);
		font-size: ;
		padding:4px 0 4px 0;
	}
	.glyphicon-send,
	.phonealt,
	.glyphicon-map-marker{
		color:rgba(253, 201, 91,1);
	}
	.address{
		position: relative;
		float: left;
		clear:both;

		margin:20px 0 0 0;
	}
	.btncheck{
		background-color: transparent;
		border-radius: 0;
		color:rgba(1,0,0,.5);
		font-weight: bolder;
		border:2px solid rgba(1,0,0,.3);
		float:left;
		margin:0 0 0 80px;
	}
	.btncheck:hover{
		background-color: transparent;
				color:rgba(1,0,0,.6);
	}
/*.navprogress{
	height:8px;
    width:70px;
    background-color: rgba(255,255,255,.5);
    float:left;
    margin-right: 5px;
}
.navprogress1{
	background-color: rgba(253, 201, 91,1);
}
*//*explore section*/
.explore{
	padding:20px 60px 20px 120px;
	}	
	.whykoma,
	.explore span{
		line-height:1.7em;
		font-size: 16px;
	}
	.explore span{
	float:left;
	font-size: ;
	}
	.explore h3{
		float:left;
		clear:both;
	}
.btn-primary{
	background-color:rgba(253, 201, 91,1);
	border-radius:0;
	border:0;

}
.btn-md{
		margin:15px 0 0 0;
		float:left;
		clear:both;	
}
.btn-primary:hover{
	color: rgba(255,255,255,1);
	background: rgba(253, 201, 91,.9);

}
/*review section*/

.carousel-inner {
	padding:0px 0px 0px 0px;
}
.review{
	padding:0;
}
.slide-custom { /*mengatur jarak teks dengan navigasi line hight*/
    min-height:250px;
}
.carousel-indicators li{
	border-color: ;
	background-color: rgba(253, 201, 91,1);
}

#carousel-example ol li{
	height:15px;
	width:15px;	
}

.testimoni{
	font-style: italic;
	line-height: 1.5em;
}
.user-img {
border: 3px solid rgba(253, 201, 91,1);
overflow: hidden;
border-radius: 50%;
display: inline-block;
}

.c-black {  /*user font testimoni*/
    color:rgba(64, 64, 64,1);
    font-style: italic;
font-size: 20px;
padding: 5px;
}


/*slide gallery*/
.galleryslide{
	padding:0 70px 0 70px;
	margin:20px 0 0 0;
}
#flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.glyphicon-camera{
	color:rgba(255, 255, 255,1);
	background-color: rgba();
}
/*mengatur navigasi*/
.nbs-flexisel-inner {
	overflow: hidden;
	/*--width:80%;--*/
	margin: 0 50px 30px 50px ;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: ;
	position: relative;
	line-height: 0px;
	/*--padding-right:50px;--*/
}
.nbs-flexisel-item >a img {
	/*--width:60%;--*/
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:300px;
	min-height:250px;
}
/*.nbs-flexisel-item a{
	color:#777;
	font-size:1.2em;
	display: block;
  margin: 7px 0;
}
.nbs-flexisel-item a:hover{
	color:#000;
}
.nbs-flexisel-item p{
	color:#777;
	font-size:0.85em;
	padding:20px;
}
*/.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:28px;
	height:29px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background-image: url(../images/img-sprite.png) no-repeat -51px -227px;
	background-size: 100%;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(images/img-sprite.png) no-repeat -51px -217px;
}

	